# Core
Django==4.2.7
djangorestframework==3.14.0
django-cors-headers==4.3.1
python-dotenv==1.0.0

# Database
psycopg2-binary==2.9.9  # For PostgreSQL support

# Security
gunicorn==21.2.0
whitenoise==6.6.0

# Development
django-debug-toolbar==4.2.0
pylint-django==2.5.3

# Production
python-decouple==3.8
dj-database-url==2.1.0
pillow==10.3.0
pyjwt==2.8.0

# 
pyyaml==6.0.2


